
.product-grid {
    font-family: "Poppins", sans-serif;
    transition: all 0.7s ease 0s;
    padding: 1%;
    margin-bottom: 5%;
    border-radius: 10px;
    box-shadow: 1px -1px 16px -4px rgb(255, 255, 255);
    -webkit-box-shadow: 1px -1px 16px -4px rgb(255, 255, 255);
    -moz-box-shadow: 1px -1px 16px -4px rgb(255, 252, 252);
}
.product-grid:hover {
    box-shadow: 1px -1px 16px -4px rgb(255, 255, 255);
    -webkit-box-shadow: 1px -1px 16px -4px rgba(255, 255, 255, 0.999);
    -moz-box-shadow: 1px -1px 16px -4px rgb(255, 255, 255);
    transform: scale(1.04);
}
.product-grid .product-image {
    overflow: hidden;
    position: relative;
    max-height: 170px;
}

.product-grid .product-image img {
    max-width: 300px;
    cursor: pointer;
    border-radius: 10px 10px 0 0;
}

.product-grid .product-content {
    padding: 15px 12px;
    position: relative;
    border-radius: 0 0 10px 10px;
}
.product-grid .product-title {
    font-size: 20px;
    color: white;
    font-weight: 600;
    text-align: center;
}
.line {
    color: rgb(255, 255, 255);
}
.product-grid .product-collection {
    font-size: 15px;
    font-weight: 600;
    color: white;
}
.product-grid .product-network {
    float: right;
    color: black;
    background-color: white;
    padding: 1%;
    border-radius: 5px;
    font-weight: 200;
    font-size: 13px;
}
