.nftEditMain {
    background-color: rgba(255, 255, 255, 0.118);
    color: white;
    padding-top: 7%;
}
.nftEditImg {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
    opacity: 0.9;
    box-shadow: 0px 2px 29px 6px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 2px 29px 6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 29px 6px rgba(0, 0, 0, 0.75);
}
.nftInfoMain {
    display: flex;
}
.nftTitle {
    font-size: 40px;
}
.playBtn{
    margin: auto;
    margin-top: 10%;
    text-align: center;
}
.playNow{
    background-color: rgb(224, 151, 6);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 90px 15px 90px;
    font-weight: bold;
    box-shadow: -2px 1px 22px -7px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -2px 1px 22px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 1px 22px -7px rgba(0, 0, 0, 0.75);
    transition: all 0.5s ease 0s;
    text-decoration: none;
}
.playNow:hover{
    color: white;
    background-color: rgb(146, 99, 4);
    cursor: pointer;
}
.nftCollection {
    font-size: 20px;
    color: rgb(224, 151, 6);
    margin-top: 10%;
}
.collectionImg {
    width: 20px;
    margin-left: 5px;
}
.nftInfo {
    margin: 0% 0 0 8%;
}

.nftDescriptionTitle {
    margin-top: 3%;
    font-size: 20px;
}
.description {
    margin: 5% 10%;
    width: 80%;
}
.nftDescription {
    font-size: 15px;
}
.details {
    margin: auto;
    width: 130%;
    padding-top: 10%;
    color: rgb(224, 151, 6);
}
.nftDetails {
    font-size: 20px;
}
.nftCreator {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.652);
}
.nftCreatorEmail {
    float: right;
    color: rgba(240, 239, 239, 0.773);
}
span {
    a {
        color: rgb(224, 151, 6);
    }
}
span a:hover {
    color: rgb(165, 165, 115);
}
.itemModalBtn {
    float: right;
    margin: 2%;
}
.requirements {
    margin: auto;
    margin-top: 2%;
    width: 50%;
    padding-bottom: 10%;
    color: rgb(224, 151, 6);
}

@media screen and (max-width: 500px) {
    .description {
        margin: auto;
        margin-bottom: 10%;
        width: 100%;
        margin-top: -10%;
    }
    .nftInfo {
        margin: 0;
    }
    .nftInfoMain {
        display: block;
    }
    .nftCollection {
        margin: 10% 0% 0 0;
    }
    .nftEditImg {
        margin: auto;
        margin-top: 25%;
        width: 100%;
        max-width: 500px;
        height: auto;
    }
    .nftTitle {
        padding-bottom: 10%;
    }
    .details {
        padding: 0 0 15% 0;
        width: 100%;
        margin: auto;
    }
    .requirements {
        width: 100%;
        margin: auto;
        padding: 0 0 35% 0;
    }
    .nftCreator {
        font-size: 14px;
        color: rgba(255, 255, 255, 0.652);
    }
    .nftCreatorEmail {
        float: right;
        color: rgba(240, 239, 239, 0.773);
        font-size: 12px;
    }
    .playBtn{
        text-align: center;
    }
}

